extends layout

block content
  .jumbotron
    h1 Nova Tarefa
  .container
    form(action="/adicionar", method="POST")
      .form-group.row
        label.col-sm-2.col-form-label(for='#descricao') Descrição:
        .col-sm-8
          input.form-control#descricao(type='text' name='descricao')
        .col-sm-2
          button.btn.btn-primary(type='submit') Salvar