extends layout

block content
  .jumbotron
    h1 Lista de Tarefas
  .container
    each tarefa in tarefas
      .card(id='card' + tarefas.indexOf(tarefa))
        .card-body
          h5= tarefa
          i.fas.fa-trash-alt.ml-auto(onclick='deletar("' + tarefas.indexOf(tarefa) +'")')
    else
      h1 Nenhuma tarefa pendente

    a.btn.btn-primary.ml-auto(href='adicionar') Adicionar Tarefa

  script.
    function deletar(id) {
      $(document.getElementById('card' + id)).remove();
      $.ajax({
        url: '/deletar',
        type: 'DELETE',
        data: {index: id},
        success: function (result) {
          console.log("Deu certo?")
        }
      })
    }
