extends layout

block content
  .jumbotron
    h1 Lista de Tarefas
  .container
    .card
      .card-body
        .form-check
          input.form-check-input(type='checkbox', value='', id="defaultCheck1")
          label.form-check-label(for='defaultCheck1') 
            h5 Descrição da tarefa
        i.fas.fa-trash-alt.ml-auto

    a.btn.btn-primary.ml-auto(href='adicionar') Adicionar Tarefa