extends layout

block content
  .jumbotron
    h1 Lista de Tarefas
  .container
    script.
      console.log(tarefas)
    each tarefa in tarefas
      .card
        .card-body
          .form-check
            input.form-check-input(type='checkbox', value='', id="defaultCheck1")
            label.form-check-label(for='defaultCheck1') 
              h5= tarefa.descricao
          i.fas.fa-trash-alt.ml-auto
    else
      h1 Nenhuma tarefa pendente

    a.btn.btn-primary.ml-auto(href='adicionar') Adicionar Tarefa