doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shink-to-fit=no")
    title= title
    link(rel='stylesheet', href='./stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='./stylesheets/all.min.css')
  body
          
    block content

    script(src='./javascripts/jquery3-4-1.js')
    script(src='./javascripts/popper.min.js')
    script(src='./javascripts/bootstrap.min.js')
