.card-body {
  display: flex;
}

.finalizar {
  margin-left:auto
}

.container {
  margin-top: 50px;
}

.card {
  margin-bottom: 50px;
}

body {
  background-color: lightgreen;
}

.jumbotron {
  text-align: center;
}